[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
requests = "*"
riotwatcher = "*"
altair = "*"
ipykernel = "*"
jupyter = "*"
sqlalchemy = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.7"
